
nav {
    background: #1c1c1c;
    font-size: 24px;
	color: white;
	position: fixed;
	padding: 35px;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}


nav a {
	margin-right: 10px;
}

nav a:hover {
	color: #9d9f9f;
}

.navLinksSpan {
	font-family: 'Roboto Condensed', sans-serif;
	position: absolute;
  	right: 35px;
  	top: 38px;
}
