

@media (max-width: 900px) {
  	nav {
    	background: #1c1c1c;
    	font-size: 24px;
  }
	nav a {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 650px), only screen and (max-device-width: 480px) {

 	.samplesArrow {
		bottom: 15px;
	}
	.resmueIcons {
		left: 12%;
	}


}




