html {

	font-family: 'Hind', sans-serif;
	overflow-x: hidden;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
	text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.hidden	{
	display: none;
}

.vert-center {
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: relative;
  top: 50%;
}

nav {
	
	color: white;
	/*background-color: #2e3233;*/
/*	border-bottom: 5px solid #34393a;*/
	/*box-shadow: 0 4px 100px 0px black;*/
	/*height: 50px;*/
	/*width: 100%;
	position: fixed;
	overflow: hidden;*/
	position: fixed;
  padding: 35px;
  width: 100%;
  z-index: 1;
  background: -webkit-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
  background: -moz-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
  background: -o-linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
  background: linear-gradient(rgba(0,0,0,.175),rgba(255,255,255,0));
  overflow: hidden;
}


nav a {
	margin-right: 10px;
	letter-spacing: 1px; 
}

.navLinksSpan {
	right: 35px;
	  position: absolute;
  right: 35px;
  top: 38px;
}

.homeSection {
	background: url("../images/1280x-slate-gradient.jpg") no-repeat center;
	background-size: cover;

	height: 100vh;
  width: 100%;

}

.homeContainer {/*
	border: 1px solid white;*/
	width: 75%;
  height: auto;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 12%;
  max-width: 600px;
}

.homeContainer h1 {

font-family: 'Hind', sans-serif;
	color: rgba(255, 255, 255, 1.0);
	font-size: 48px;
	margin-bottom: 15px; 
}

.homeContainer p {

font-family: 'Hind', sans-serif;
	color: rgba(255, 255, 255, .90);
	font-size: 38px; 
}

.psst	{
	position: absolute;
	left: 12%;
	bottom: 25%;
}

.psst p{
	color: #c0c0c0;
	font-size: 20px;
	margin-right: 5px;
	display: inline;
}


.infoSection {
  height: 1000px;
  width: 100%;
/*  position: aboslute;*/
}


.infoArticle {
border: 1px solid orange;
	position: absolute;

	margin-top: 125px;
	left: 12%;
	right: 12%;
}

.infoPicWrapper {
	border: 1px solid purple;
	width: 250px;
	/*height: 100%; */
	margin-right: 50px;
	margin-bottom: 25px;
	float: left;
}

.infoArticleContainer {
	border: 1px solid blue;
  color: black;
  font-size: 18px;
  line-height: 25px;
  max-width: 650px;
  /* min-width: 300px; */
  float: left;
}

a#linkedin {
	margin-right: 11px;
}

.samplesSection {
	/*display: none;*/
}

.samplesSection h1.projects {
	/*color: #494949;*/
	font-size: 30px;
	/*color: rgba(255, 255, 255, 1.0);*/
	color: black;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background-color: #c0c0c0;*/
	border-top: 1px solid #c0c0c0;

}

.sample-1, .sample-2, .sample-3, .sample-4 {
/*	border:1px solid red;*/
	height: 850px;
	width: auto;
}

.sampleOverlay {/*
	border: 1px solid green;*/
	background-color: rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.85);
	font-size: 30px;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 850px;
	display: none;
}

.sampleDescription {/*
	border: 1px solid blue;*/
	position: absolute;
	width: 100%;
}

.sampleDescription h1 {
	margin-bottom: 20px;
}

.fa-github.fa-2x, .fa-external-link-square.fa-2x {
	margin: 40px 10px;
}

.sample-1 {
	/*background-color: orange;*/
	background: url("../images/orion677x400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*transition: background-position 1s ease;*/
}

.sample-2 {
	/*background-color: red;*/
	background: url("../images/shopurr577x400.jpg");
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	/*transition: property duration timing-function delay*/
	/*transition: background-size 1s ease;
	transition: background-position 1s ease;*/
}


.sample-3 {
	/*background-color: green;*/
	background: url("../images/hotCold648x400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
/*	transition: background-position 1s ease;*/
}


.sample-4 {
	/*background-color: yellow;*/
	background: url("../images/flamingos542x400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*transition: background-position 1s ease;*/
}

/*.sample-1:hover, .sample-2:hover, .sample-3:hover, .sample-4:hover {
	background-position: .25% 0%; 
}*/




footer {
	text-align: center;
	width: 100%;
}







